<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.667537183554-0gc3ajbgb4dav5frk307dj9eahvlu29c</string>
				<string>foodtracker</string>
			</array>
		</dict>
	</array>
	<key>NSSupportsLiveActivities</key>
	<true/>
	<key>NSCameraUsageDescription</key>
	<string>FoodTracker needs access to your camera to scan barcodes, analyze your meals, and evaluate your cooking techniques in real-time.</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>NSHealthShareUsageDescription</key>
	<string>FoodTracker uses HealthKit to read your activity and dietary data to provide a comprehensive view of your fitness progress.</string>
	<key>NSHealthUpdateUsageDescription</key>
	<string>FoodTracker uses HealthKit to save your logged meals and nutritional information directly to the Health app.</string>
</dict>
</plist>
